<p>
    <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <span>Employee Portal</span>

        <span class="example-spacer"></span>
        <div class="login">
            <a routerLink="../home">
                <button mat-raised-button matTooltip="Go To Home Page"
                    aria-label="">
                    Home
                </button>
            </a>
        </div>
        <div class="signup">
            <a routerLink="../signup">
                <button mat-raised-button matTooltip="Register Yourself"
                    aria-label="">
                    Signup
                </button>
            </a>
        </div>
        <div class="login">
            <a routerLink="../login">
                <button mat-raised-button matTooltip="Login Yourself"
                    aria-label="">
                    Login
                </button>
            </a>
        </div>

    </mat-toolbar>
</p>